.admin-dash-container {
    background-color: #010914;
    display: flex;
    justify-content: center;
    color: #B6CDF2;
    padding-left: 20px;
}

.admin-dash-wrapper {
    display: flex;
    margin: 20px;
    max-width: 1500px;
    width: 100%;
}

.admin-dash-content {
    display: flex;
    margin-left: 20px;
    width: 100%;
    /*background-color: #124122;*/
}

.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}
.icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
}
.icon, .icon_header {
    margin-right: 5px;
}

.close_icon {
    color: #B6CDF2;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.grid-container {
    display: flex;
    height: 100vh;
    background-color: #010914;
    color: #B6CDF2;
    margin: 20px;
}

 /*Header*/
.admin-dash-header {
    /*background-color: #002e6c;*/
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    display: none;
}
/* End Header  */

/* Sidebar  */
#admin-sidebar {
    grid-area: sidebar;
    height: 1000px;
    width: 300px;
    background-color: #021125;
    border: 1px solid #002e6c;
    border-radius: 5px;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

}

.admin-sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #002e6c;
}

.admin-sidebar-title {
    display: flex;
    color: #B6CDF2;
    font-family: "Stevie Sans - Regular", sans-serif;
    font-size: 24px;
}

.sidebar-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.sidebar-list-item {
    background-color: #021125;
    border: none;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
    color: #B6CDF2;
    font-family: "Stevie Sans - Book", sans-serif;
    font-size: 16px;
}

.sidebar-list-item:hover {
    background-color: #002b65;
    cursor: pointer;
    color: #64beff;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar
      on small screens
    */
    z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.95);
    display: inline;
    float: right;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
}

/* End Main  */


/* Medium <= 992px */

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
      'header'
      'main';
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}
/* Small <= 768px */

@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .admin-dash-header {
        display: none;
    }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}

.side-container {
    display: inline;
    float: left;
}