.light-home-container {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f1ff;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1800px;
}

.home-carousel {
    /*background-color: #021125;*/
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.block-container {
    height: fit-content;
    width: 100%;
    /*background-color: #010d1c;*/
}

.light-item-container-header {
    margin-left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "Stevie Sans - Bold", sans-serif;
    font-size: 32px;
    color: #001025;
}

.item-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    height: fit-content;
    margin: 20px;
}

.item-row > *:not(:last-child) {
    margin-right: 20px; /* Adjust the margin to your desired spacing */
}

.light-goto-button {
    position: relative;
    background-color: #dcebff;
    border: none;
    border-radius: 5px;
    width: fit-content;
    font-family: "Stevie Sans - Medium", sans-serif;
    font-size: 20px;
    color: #001025;
    padding: 10px 50px;
    transition: background-color 0.3s ease-in-out;
}

.light-goto-button:hover {
    background-color: #abc7ff;
}